<html>
    <body>
        <h3>Contact details</h3>
        <p>Phone No.: <%= details.pNo %></p>
        <p>Email: <%= details.email %></p>
        <p>Address: <%= details.address %></p>
    </body>
</html>