<html>
  <head>
  <link rel="stylesheet" href="/style.css">
</head>
   <body>
    <%- include('navbar', {links: links}); %>
      <ul>
         <% users.forEach((user) => { %>
               <%- include('user', {user: user}); %>
         <% }); %>
      </ul>

    <%- include('footer', {details: details}); %>
   </body>
</html>
